﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AspMVC.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://static.itch.io/lib.min.js?1718312711"></script>
    <script defer="" type="text/javascript" src="https://static.itch.io/react.min.js?1718312711"></script>
    <script type="text/javascript" src="https://static.itch.io/index.min.js?1718312711"></script>
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet">
    <!-- itchio related style/scripts -->
    <link href="https://static.itch.io/game.css?1718920491" rel="stylesheet">
    <link href="https://static.itch.io/redactor.css" rel="stylesheet">
    <link href="~/css/GameStore.css" rel="stylesheet">


</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 fixed-top" style="margin-bottom: 70px;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Main" asp-controller="HomePage" asp-action="Index">GameStore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-area="Main" asp-controller="HomePage" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-area="Main" asp-controller="HomePage" asp-action="Browse">Browse</a>
                        </li>
                    </ul>
                    <form asp-area="Main" asp-controller="HomePage" asp-action="Search" method="get" class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                        <div class="input-group">
                            <input class="form-control" name="q" required type="text" required autocomplete="off" placeholder="Search for games" aria-label="Search for..." aria-describedby="btnNavbarSearch">
                            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                        </div>
                    </form>


                    <partial name="_LoginPartial"></partial>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <partial name="_MenuManagePartial"></partial>
                    }

                </div>
            </div>
        </nav>

    </header>

    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
