﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AspMVC.styles.css" asp-append-version="true" />
    <script type="text/javascript" src="https://static.itch.io/lib.min.js?1718312711"></script>
    <script defer="" type="text/javascript" src="https://static.itch.io/react.min.js?1718312711"></script>
    <script type="text/javascript" src="https://static.itch.io/index.min.js?1718312711"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- itchio related style/scripts -->
    <link href="https://static.itch.io/game.css?1718920491" rel="stylesheet">
    <link href="https://static.itch.io/redactor.css" rel="stylesheet">
    <link href="~/css/GameStore.css" rel="stylesheet">

    <script type="text/javascript" src="https://static.itch.io/lib.min.js?1718312711"></script>
    <script defer="" type="text/javascript" src="https://static.itch.io/react.min.js?1718312711"></script>
    <script type="text/javascript" src="https://static.itch.io/index.min.js?1718312711"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 fixed-top" style="margin-bottom: 70px;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GameStore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="Blog" asp-controller="ProjectPage" asp-action="Index">Your Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Home" asp-action="HomePage">static browse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-area="Main" asp-controller="HomePage" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-area="Main" asp-controller="HomePage" asp-action="Browse">Browse</a>
                        </li>
                    </ul>
                    <form asp-controller="HomePage" asp-action="Search" method="get" class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                        <div class="input-group">
                            <input class="form-control" name="search" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch">
                            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><svg class="svg-inline--fa fa-magnifying-glass" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="magnifying-glass" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path></svg><!-- <i class="fas fa-search"></i> Font Awesome fontawesome.com --></button>
                        </div>
                    </form>

                    <partial name="_LoginPartial"></partial>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <partial name="_MenuManagePartial"></partial>
                    }

                </div>
            </div>
        </nav>

    </header>

    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
