@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> userManager
@{
    string username = "";
    string userid = "";
    bool isAdmin = false;
    if (User.Identity.IsAuthenticated)
    {
        if(this.User.IsInRole("Administrator"))
        {
            isAdmin = true;
        }
        else
        {
            isAdmin = false;
        }
        userid = userManager.GetUserId(User);
        username = userManager.GetUserName(User);
    }

}



<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><svg class="svg-inline--fa fa-user fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"></path></svg><!-- <i class="fas fa-user fa-fw"></i> Font Awesome fontawesome.com --></a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            @{
                if (isAdmin)
                {
                    <li>
                        <a class="dropdown-item" asp-action="Index" asp-controller="AdminPanel" asp-area="Admin">
                            Admin Panel
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                }
            }
            <li>
                <a class="dropdown-item" asp-area="Blog" asp-controller="ProjectPage" asp-action="Index">
                    Dashboard
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-area="Blog" asp-controller="ProjectPage" asp-action="Create">Upload new project</a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" asp-action="Index" asp-controller="Manage" asp-area="Identity">
                    View Profile
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <form asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
                    <button type="submit" class="dropdown-item">
                        Log out
                    </button>
                </form>
            </li>
        </ul>
    </li>
</ul>

