<link href="https://static.itch.io/main.css?1718312711" rel="stylesheet">
<script type="text/javascript">window.itchio_translations_url = 'https://static.itch.io/translations';</script>
<script type="text/javascript" src="https://static.itch.io/lib.min.js?1718312711"></script>
<script defer="" type="text/javascript" src="https://static.itch.io/react.min.js?1718312711"></script>
<script type="text/javascript" src="https://static.itch.io/index.min.js?1718312711"></script>
@*<style itchio-grid-sizer="" type="text/css">
    .main_column .featured_game_grid_widget {
        --itchio_grid_gap: 10px;
        --itchio_grid_cell_width: 228px;
        --itchio_grid_cell_columns: 4;
        grid-template-columns: repeat(4, 228px);
    }</style>*@ @*this causes row to only display 4 object*@

<div class="index_page page_widget base_widget ready" id="index_6523171">
    <div class="sidebar_shroud"></div>
    <div class="index_sidebar">
        <div class="scrolling_content">
            <form action="/search" class="game_search">
                <input name="q" required="required" placeholder="Search games &amp; creators" type="text" class="search_input">
            </form>
            <div class="sidebar_browse">
                <section class="sidebar_browse_group">
                    <h2>Popular Tags</h2>
                    <div class="browse_filters">
                        <a href="/games/tag-horror">Horror games</a>
                        <a href="/games/tag-multiplayer">Multiplayer</a>
                        <a href="/games/genre-visual-novel">Visual novels</a>
                        <a href="/games/html5">HTML5 games</a>
                        <a href="/games/genre-simulation" title="Simulation games">Simulation</a>
                        <a data-action="browse" href="/games/platform-osx" title="Browse games for macOS" data-label="osx">macOS games</a>
                        <a href="/games/tag-roguelike" title="Roguelike games">Roguelike</a>
                        <a data-action="browse" href="/games/platform-linux" title="Browse games for Linux" data-label="linux">Linux games</a>
                        <a href="/tags" title="View all tags" class="forward_link wide">Browse all tags</a>
                    </div>
                </section>
                <section class="sidebar_browse_group">
                    <h2>Browse</h2>
                    <div class="browse_filters">
                        <a data-action="browse" title="Browse Games" href="/games" data-label="game">Games</a>
                        <a data-action="browse" title="Browse Game assets" href="/game-assets" data-label="assets">Game assets</a>
                        <a data-action="browse" title="Browse Tools" href="/tools" data-label="tool">Tools</a>
                        <a data-action="browse" title="Browse Albums &amp; soundtracks" href="/soundtracks" data-label="soundtrack">Albums &amp; soundtracks</a>
                        <a data-action="browse" title="Browse Physical games" href="/physical-games" data-label="physical_game">Physical games</a>
                        <a data-action="browse" title="Browse Comics" href="/comics" data-label="comic">Comics</a>
                        <a data-action="browse" title="Browse Books" href="/books" data-label="book">Books</a>
                        <a href="/randomizer" title="Randomizer">
                            <span class="icon icon-shuffle"></span>
                            <span class="text">Randomizer</span>
                        </a>
                    </div>
                </section>
                <section class="sidebar_browse_group">
                    <h2>Games by price</h2>
                    <div class="browse_filters">
                        <a data-action="browse" data-label="sale" href="/games/price-sale" title="Browse games on sale">On Sale</a>
                        <a data-action="browse" data-label="free" href="/games/free" title="Browse free games">Free games</a>
                        <a data-action="browse" data-label="demo" href="/games/price-demo" title="Browse games with demos">With demo</a>
                        <a data-action="browse" data-label="top-sellers" href="/games/top-sellers" title="Browse top selling games">Top sellers</a>
                        <a data-action="browse" href="/games/price-500" title="Browse games less than or equal to 5.00" data-label="less-than-5">$5 or less</a>
                        <a data-action="browse" href="/games/price-1500" title="Browse games less than or equal to 15.00" data-label="less-than-15">$15 or less</a>
                    </div>
                </section>
            </div>
            <div class="sidebar_social">
                <a data-action="social_button" href="https://www.reddit.com/r/itchio" data-label="reddit" class="icon icon-reddit"></a>
                <a data-action="social_button" href="https://www.facebook.com/itchiogames" data-label="facebook" class="icon icon-facebook"></a>
                <a data-action="social_button" href="https://twitter.com/itchio" data-label="twitter" class="icon icon-twitter"></a>
                <a href="/app" class="get_app">Download app</a>
            </div>
            <section class="blog_post_section">
                <h2>From the itch.io blog</h2>
                <ul class="blog_posts">
                    <li>
                        <a data-action="blog" href="/blog/700212/the-itchio-spring-sale-bundles-are-here" class="post_link">
                            <div class="date" title="2024-03-18 23:30:46">88d</div>
                            <div dir="auto">The itch.io Spring Sale &amp; Bundles are here</div>
                        </a>
                        <a data-action="blog" data-label="the-itchio-winter-sale-2023-is-live" href="/updates/the-itchio-winter-sale-2023-is-live" class="post_link">
                            <div class="date" title="2023-12-20 23:17:38">177d</div>
                            <div dir="auto">The itch.io Winter Sale 2023 is live!</div>
                        </a>
                        <a data-action="blog" data-label="pick-up-5-great-games-in-the-itchio-autumn-ttrpg-selects-bundle" href="/updates/pick-up-5-great-games-in-the-itchio-autumn-ttrpg-selects-bundle" class="post_link">
                            <div class="date" title="2023-11-29 18:53:04">198d</div>
                            <div dir="auto">Pick up 5 great games in the itch.io Autumn TTRPG Selects Bundle!</div>
                        </a>
                        <a data-action="blog" href="/blog/638389/the-next-itchio-creator-day-is-this-friday-november-24th" class="post_link">
                            <div class="date" title="2023-11-20 19:27:43">207d</div>
                            <div dir="auto">The next itch.io Creator Day is this Friday November 24th!</div>
                        </a>
                        <a data-action="blog" href="/blog/625934/the-itchio-halloween-sale-is-live" class="post_link">
                            <div class="date" title="2023-10-25 19:16:34">233d</div>
                            <div dir="auto">The itch.io Halloween sale is live!</div>
                        </a>
                        <a data-action="blog" href="/blog/610150/games-of-the-week-mr-platformer-videoverse-and-test-test-test" class="post_link">
                            <div class="date" title="2023-09-22 18:12:57">266d</div>
                            <div dir="auto">Games of the Week: Mr Platformer, Videoverse, and TEST TEST TEST</div>
                        </a>
                        <a data-action="blog" href="/blog/582258/games-of-the-week-papers-fish-and-frogs" class="post_link">
                            <div class="date" title="2023-08-31 18:01:59">288d</div>
                            <div dir="auto">Games of the Week: Papers, Fish, and Frogs</div>
                        </a>
                        <a data-action="blog" href="/blog/578046/the-next-itchio-creator-day-is-this-friday-august-25th" class="post_link">
                            <div class="date" title="2023-08-21 17:50:49">298d</div>
                            <div dir="auto">The Next itch.io Creator Day is this Friday, August 25th!</div>
                        </a>
                    </li>
                </ul>
                <p>
                    <a href="/updates" class="forward_link">View all updates</a>
                </p>
            </section>
        </div>
    </div>
    <div class="footer">
        <div class="primary">
            <div class="social">
                <a href="https://twitter.com/itchio">
                    <span aria-hidden="true" class="icon icon-twitter"></span>
                    <span class="screenreader_only">itch.io on Twitter</span>
                </a>
                <a href="https://www.facebook.com/itchiogames">
                    <span aria-hidden="true" class="icon icon-facebook"></span>
                    <span class="screenreader_only">itch.io on Facebook</span>
                </a>
            </div>
            <a href="/docs/general/about">About</a>
            <a href="/docs/general/faq">FAQ</a>
            <a href="/blog">Blog</a>
            <a href="/support">Contact us</a>
        </div>
        <div class="secondary">
            <span class="copyright">Copyright © 2024 itch corp</span>
            <span class="spacer"> · </span>
            <a href="/directory">Directory</a>
            <span class="spacer"> · </span>
            <a rel="nofollow" href="/docs/legal/terms">Terms</a>
            <span class="spacer"> · </span>
            <a rel="nofollow" href="/docs/legal/privacy-policy">Privacy</a>
            <span class="spacer"> · </span>
            <a rel="nofollow" href="/docs/legal/cookie-policy">Cookies</a>
        </div>
    </div>
</div>