@*<div class="dropdown">
    <button class="btn btn-outline-danger dropdown-toggle" href="#"
        id="managedropdownmenu" data-toggle="dropdown">
        Manage
    </button>
    <div class="dropdown-menu" aria-labelledby="managedropdownmenu">
        <a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">
            Database
        </a>
        
    </div>
</div>*@

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
    </button>
    <ul class="dropdown-menu">
        <a class="dropdown-item" asp-action="Index" asp-controller="Genre" asp-area="Admin">
            Genres Manage
        </a>
        <a class="dropdown-item" asp-action="Index" asp-controller="Tag" asp-area="Admin">
            Tag Manage
        </a>
        
    </ul>
</div>