@model AspMVC.Models.Genre

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa Genre</h1>
<partial name="_StatusMessage"></partial>

<hr>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="GenreId" />
            <p>Bạn có chắc chắn xóa <strong>@Model.GenreName</strong></p>
            <div class="form-group">
                <input type="submit" value="Đồng ý" class="btn btn-danger" />
                <a class="btn btn-primary" asp-action="Index">Quay về danh sách</a>
            </div>
        </form>
    </div>
</div>
