@model IEnumerable<AspMVC.Models.Genre>

@{
    ViewData["Title"] = "Danh sách các Genre";
}

<h2>@ViewData["Title"]</h2>

<div class="mb-2">
    <a class="btn btn-secondary" asp-action="Create">Tạo Genre mới</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th>
                Tác vụ
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.GenreId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
