@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager

@{
    //string returnUrl = Url.Content("~/");
    //ViewData["ReturnUrl"] = returnUrl;
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Areas/Identity/Views/Account/_LoginLayout.cshtml";
}
<div class="row justify-content-center">
    <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
            <div class="card-body">
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
                    <div class="form-floating mb-3">
                        <input asp-for="UserNameOrEmail" class="form-control" placeholder="name@example.com" />
                        <label asp-for="UserNameOrEmail"></label>
                        <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Password" class="form-control" placeholder="Password" />
                        <label asp-for="Password" class="control-label"></label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-check mb-3">
                        <label asp-for="RememberMe" class="form-check-label" type="checkbox"></label>
                        <input asp-for="RememberMe" class="form-check-input" />
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                        <a asp-action="ForgotPassword" class="small">Forgot Password?</a>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>

                </form>
            </div>
            <div class="card-footer text-center py-3">
                <div class="small"><a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Chưa có tài khoản? Đăng ký</a></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
