@model List<GameCell>
@{
    ViewData["Title"] = "Search";
    
}

    <div id="header_743962" class="header_widget base_widget small_logo">
    </div>
    <div id="search_5676586" class="search_page grid_results_page page_widget base_widget">
        <div class="search_header grid_header has_filters">
            <h2>Search results for '@ViewData["q"]'</h2>
        </div>
        <div class="grid_outer">
            <div class="game_grid_widget base_widget browse_game_grid" id="game_grid_0">
            @foreach(var item in Model)
            {
                await Html.RenderPartialAsync("~/Areas/Main/Views/Shared/_searchPageGameCell.cshtml", item);

            }

            </div>
        </div>
    </div>


