@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<textarea id="summernoteEditor" name="editordata"></textarea>

@section Scripts{
    <!--Kích hoạt phần tử #Content là Editor HTML -->

    <script src="~/lib/summernote/summernote-lite.min.js"></script>
    <link href="~/lib/summernote/summernote-lite.min.css" rel="stylesheet">

    <script>
        $(document).ready(function () {
            $('#summernoteEditor').summernote({
                height: 120,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ]
            });
        });
    </script>
}




