@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GameStore</h1>
    <h1 class="display-4">@Url.Content("mages/flower.jpg")</h1>
    <img src="/MyPath/kazekami12344/idle city/pictures/pexels-eberhardgross-1421903.jpg" class="screenshot" />

@*    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
*@</div>
@*<iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/qytgJ2mbzfM?si=55QmytzxBd7tphGP"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen>
</iframe>
<p><br><img src="https://cdn.akamai.steamstatic.com/steam/apps/2778740/extras/rockclimbing1.gif?t=1705693904" loading="lazy"><br></p>
*@

