
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"> </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title> jQuery simple star rating example </title>
    <style>

        .fa-star {
            font-size: 50px;
            align-content: center;
        }

        .container {
            height: 100px;
            width: 600px;
            margin: auto;
        }
        .star-active{
            color:yellow;
        }
    </style>
</head>
<body>
    <h3 style="">Give this project a rating</h3>
    <form role="form" id="rating-form" method="post">
        <div class="star-list">
            <input type="hidden" class="game-rating" value="0">
            <i class="star-click fa fa-star" aria-hidden="true" id="st1" data-star-value="1"></i>
            <i class="star-click fa fa-star" aria-hidden="true" id="st2" data-star-value="2"></i>
            <i class="star-click fa fa-star" aria-hidden="true" id="st3" data-star-value="3"></i>
            <i class="star-click fa fa-star" aria-hidden="true" id="st4" data-star-value="4"></i>
            <i class="star-click fa fa-star" aria-hidden="true" id="st5" data-star-value="5"></i>
            <button id="post-rating-button" name="post-rating-button" type="submit" class="btn btn-primary">Post Rating</button>
        </div>

    </form>
    <script>
        $(document).ready(function () {
            var ratingValue = 0;
            var ratingInput = $("div.star-list").children('input.game-rating').eq(0);
            var starArray = $("div.star-list").children('i.star-click.fa.fa-star').toArray();
            var length = 5;
            //ratingInput.val('5');
            //starArray[1].className = "star-click fa fa-star star-active";



            $("i.star-click").click(function () {
                ratingValue = $(this).data("star-value");
                ratingInput.val(ratingValue)
                //console.log(ratingValue);
                for (let i = ratingValue; i < 5; i++) {
                    starArray[i].className = "star-click fa fa-star";
                }
                for (let i = 0; i < ratingValue; i++) {
                    starArray[i].className = "star-click fa fa-star star-active";
                }
            });
 
        });
    </script>
</body>
</html>