@model EditExtraProfileModel
@{
    ViewData["Title"] = "Hồ sơ cá nhân";
}
<partial name="_StatusMessage" />
<div class="container rounded bg-white">
    <div class="row">
        <div class="col-md-8 border-right">
            <div class="">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Chỉnh sửa thông tin cá nhân</h4>
                </div>
                <div class="row mt-3">
                    <form id="profile-form" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="col-md-12">
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" class="form-control" disabled />
                        </div>
                        <div class="col-md-12">
                            <label asp-for="UserEmail"></label>
                            <input asp-for="UserEmail" class="form-control" disabled />
                        </div>
                        <div class="col-md-12">
                            <label asp-for="PhoneNumber"></label>
                            <input asp-for="PhoneNumber" class="form-control" disabled />
                        </div>
                        <div class="col-md-12">
                            <label asp-for="RealName"></label>
                            <input asp-for="RealName" class="form-control" />
                            <span asp-validation-for="RealName" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="HomeAdress"></label>
                            <textarea asp-for="HomeAdress" class="form-control"></textarea>
                            <span asp-validation-for="HomeAdress" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="BirthDate"></label>
                            <input asp-for="BirthDate" class="form-control" />
                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UploadAvatar" class="control-label"></label>
                            <input asp-for="UploadAvatar" class="form-control" accept="image/*" />
                            <span asp-validation-for="UploadAvatar"></span>
                        </div>
                        <button id="update-profile-button" type="submit" class="btn btn-primary">Lưu dữ liệu</button>

                    </form>
                </div>

            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

@*<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="UserEmail"></label>
                <input asp-for="UserEmail" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="HomeAdress"></label>
                <textarea asp-for="HomeAdress" class="form-control"></textarea>
                <span asp-validation-for="HomeAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>            

            <button id="update-profile-button" type="submit" class="btn btn-primary">Lưu dữ liệu</button>
        </form>
    </div>
</div>
*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



