@*@model CommentViewModel

<div class="comment">
    <div class="comment_con">
        <div class="button_con">
            <button><i class="fas fa-caret-up"></i></button>
            <button><i class="fas fa-caret-down"></i></button>
        </div>
        <div class="user_con">
            <div class="user">
                <a class="" href="https://itch.io/profile/mynameistapzz">
                    <img src="https://img.itch.zone/aW1nLzE2MDYzNDg2LnBuZw==/25x25%23/qu9Uqj.png">
                </a>
                <p>@Model.AuthorName</p>
                <p>@Model.las</p>
            </div>
            <div class="text">
                <p>@Model.Content</p>
            </div>
            <div class="link">
                <a href="">Reply</a>
                <a href="">Edit</a>
                <a href="">Delete</a>
            </div>
        </div>
    </div>
</div>*@