@model AspMVC.ViewModels.CreateProjectPageViewModel

@{
    ViewData["Title"] = "Create";
}

@if (User.Identity.IsAuthenticated)
{
    var summernote = new Summernote("Description", true, 150, 500);
    @await Html.PartialAsync("_SummerNotePartial",summernote)
}
<h1>Create new project</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" autocomplete="off" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" autocomplete="off" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" autocomplete="off"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" autocomplete="off" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreId" class="control-label"></label>
                <select asp-for="GenreId" class ="form-control" asp-items="ViewBag.GenreId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FileUpload" class="control-label"></label>
                <input asp-for="FileUpload" class="form-control" multiple/>
                <span asp-validation-for="FileUpload"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureUpload" class="control-label"></label>
                <input asp-for="PictureUpload" class="form-control" accept="image/*" multiple/>
                <span asp-validation-for="PictureUpload"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverPictureUpload" class="control-label"></label>
                <input asp-for="CoverPictureUpload" class="form-control" accept="image/*"/>
                <span asp-validation-for="CoverPictureUpload"></span>
            </div>

            <div class="form-group">
                @*<input type="submit" value="Create" class="btn btn-primary" />*@
                <button type="submit" class="btn btn-danger" >Upload</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
